body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
  display: flex;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  display: flex;
  padding: 15px;
 
 
}


/* 
li.low {
  border: 2px solid #1a681e;
  color: #1a681e;
}
li.high {
  border: 2px solid #f2360c;
} */